.img {
    max-width: 100%;
    height: auto;
}

.m-top-2rem {
    margin-top: 2rem;
}

.m-top-5rem {
    margin-top: 5rem;
}

.flex {
    display: flex;
}

.j-content-start {
    justify-content: flex-start;
}

.j-content-center {
    justify-content: center;
}

.j-content-end {
    justify-content: flex-end;
}

.j-content-between {
    justify-content: space-between;
}

.j-content-around {
    justify-content: space-around;
}

.w-full {
    width: 100%;
}

.m-auto {
    margin: auto;
}

.align-center {
    align-items: center;
}
.m-bottom-6rem {
    margin-bottom: 6rem;
}
