body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5rem;
}
.font-playfair {
    font-family: 'Playfair Display', serif;
}
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.font-normal {
    font-weight: normal !important;
}

.decoration-none {
    text-decoration: none !important;
}

.uppercase {
    text-transform: uppercase;
}

.font-1-5rem {
    font-size: 1.5rem;
}

.font-08rem {
    font-size: 0.8rem;
}